.text-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.spacing {
    margin-top: 50px;
}

.vid-placement {
    display: block;
    margin: 0 auto; 
    margin-top: 20px; 
}
